<div class="row">
  <div class="col-x-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <h2>Application Type: </h2>
    <form>
      <div class="radio">
        <label><input type="radio" name="optradio"><a routerLink="/AndroidApp">Android App</a></label>
      </div>
      <div class="radio">
        <label><input type="radio" name="optradio"><a routerLink="/NativeApp">Native App</a></label>
      </div>
      <div class="radio">
        <label><input type="radio" name="optradio"><a routerLink="/WebApp">Web App</a></label>
      </div>
    </form>
  </div>
  <div class="col-x-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <router-outlet></router-outlet>
  </div>
</div>
