<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <div class="navbar-header navbar-brand">Console</div>
  </div>
  <div class="row">
    <div class="col-x-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/Credentials" class="navbar-brand" style="color: black">Credentials</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/OAuthConsentScreen" class="navbar-brand" style="color: black">OAuth Consent Screen</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/DomainVerification" class="navbar-brand" style="color: black" disabled="">Domain Verification</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="row">
  <div class="col-x-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <router-outlet></router-outlet>
  </div>
</div>
