<div class="row">
  <div class="col-x-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" name="email"
               [(ngModel)]="appName">
      </div>
      <div class="form-group">
        <label for="domain">Domain:</label>
        <input type="text" class="form-control" id="domain" placeholder="Enter Domain" name="domain"
        [(ngModel)]="domain">
      </div>
      <div class="form-group">
        <label for="redirect">Redirect URI:</label>
        <input type="text" class="form-control" id="redirect" placeholder="Enter Redirect URI"
               name="redirect" [(ngModel)]="redirectURI">
      </div>
      <div class="form-group">
        <label for="clientid">Client Id:</label>
        <input type="text" class="form-control" id="clientid" placeholder="" disabled
               name="clientid" [(ngModel)]="clientId">
      </div>
      <div class="form-group">
        <label for="clientsc">Client Secret:</label>
        <input type="text" class="form-control" id="clientsc" placeholder="" disabled
               name="clientsc" [(ngModel)]="clientSecret">
      </div>
      <button type="submit" class="btn btn-default" (click)="sendingData()">Create</button>
    </form>
  </div>
</div>


