<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary white text">
        <div class="panel-heading"></div>
        <div class="panel-body">
          <label for="Email address"></label>
          Email address <button type="button" disabled class="btn btn-default"
                                data-placement="left"
                                title="On some platforms, the email address is shown with the developer info. It can be changed to the email of the signed-in user or the email of a Google Group managed by the signed-in user."
                                onmouseenter="$(this).tooltip('show')">
          <span class="glyphicon glyphicon-pushpin"></span>
        </button>
          <input type="text" class="form-control" id="Email address" [(ngModel)]="emailAddress">
          <br>
          Product name as shown to users <button type="button" disabled class="btn btn-default"
                                                 data-placement="left"
                                                 title="Make sure that your name accurately reflects your product and be careful not to use one that suggests that your product comes from Google or another company."
                                                 onmouseenter="$(this).tooltip('show')">
          <span class="glyphicon glyphicon-pushpin"></span>
        </button>
          <label for="Product name shown to users"></label>
          <input type="text" class="form-control" id="Product name shown to users" [(ngModel)]="productName">
          <br>
          Homepage URL (Optional)
          <label for="Homepage URL"></label>
          <input type="text" class="form-control" id="Homepage URL" [(ngModel)]="homePageURL">
          <br>
          Product Logo Url (Optional) <button type="button" disabled class="btn btn-default"
                                              data-placement="left"
                                              title="Identifies your product to end users on the consent screen."
                                              onmouseenter="$(this).tooltip('show')">
          <span class="glyphicon glyphicon-pushpin"></span>
        </button>
          <label for="Logo URL"></label>
          <input type="text" class="form-control" id="Logo URL" [(ngModel)]="productlogoURL">
          <img src="../../assets/abc.png">This is how your logo will look in 120x120
          <br>
          <br>
          Privacy Policy Url <br>
          <small>Optional until you deploy your app</small>
          <label for="Privacy Policy"></label>
          <input type="text" class="form-control" id="Privacy Policy" [(ngModel)]="privacyPolicyURL">
          <br>
          Terms and Conditions URL (Optional)
          <label for="Terms and Conditions URL"></label>
          <input type="text" class="form-control" id="Terms and Conditions URL" [(ngModel)]="termsAndContionsURL">
          <br>
          <button class="btn btn-primary btn-md" (click)="onSave()">Save</button>
          <button class="btn btn-default btn-md" (click)="onCancel()">Cancel</button>
        </div>
        </div>
      </div>
    <div class="col-sm-4">
     <div class="panel panel-primary white text">
       <div class="panel-heading"></div>
       <div class="panel-body">
         <img src="../../assets/12" alt="">
         <br>
         The consent screen will be shown to users whenever you request access to their private data using your client ID. It will be shown for all applications registered in this project.

         You must provide an email address and product name for OAuth to work.
       </div>
     </div></div>
  </div>
</div>
