<div class="container" style="margin-left: 40%; margin-top: 10%">
  <div class="col-md-4">
    <div class="panel panel-primary white text">
      <div class="panel-heading">APIs Credentials</div>
      <div class="panel-body">You need credentials to access. <br>
        Enable the APIs that you plan to use and <br> then create the credentials that they <br>
        Depending on the API, you need an API key, <br> a service account or an OAuth 2.0 client ID. <br>
        Refer to the API documentation for details.
        <div class="dropdown" appDropDown>
          <button class="btn btn-primary btn-xs dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">
            Create Credentials <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">API Key <br>
              Identifies your project using a simple API key to check quota and access.</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" routerLink="../CreateClientId">OAuth Client ID
              <br> Requests user consent so your app can access user data.</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Service Account Key
              <br> Enables server-to-server, app-level authentication using robot accounts.</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Help Me Choose
              <br> Asks a series of questions to help you to choose the type of credential,</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

