<div class="container" style="margin-left: 40%; margin-top: 10%">
<div class="col-md-4">
  <div class="panel panel-primary white text">
    <div class="panel-heading">APIs & Auth
      <br>Domain verification</div>
    <div class="panel-body">You need to verify domain ownership to allow webhook
      <br>notifications to be sent to your external domains. Google verifies
      <br>that the user owns each of the listed domains via Search Console.
      <br><button class="btn btn-primary btn-xs">Add Domain</button>
      or
      <button class="btn btn-default btn-xs">Find out more</button>
    </div>
  </div>
</div>
</div>
